.external-panel {

  border: 2px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  
}
.centered-header{
  border: 1px solid red;
  margin-top: 30px;
  background-color:bisque;
  border: 1px grey solid;
  padding: 10px 10px ;
  border-radius: 10px;
 
}



.floor-table td {
  padding: 10px;
  text-align: center;

  
  border-bottom: 1px solid #ddd;
}



.external-panel .floor-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.external-panel .floor-button:hover {
  background-color: #28a745;
}

.external-panel .floor-button.clicked {
  background-color: #007bff;
}



.external-panel .indicator-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  position: relative;
}

.external-panel .green-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}
.centered-header{

  font-size: 18px;
  font-weight: bold;
  text-align: center;

}

.container{
  display: flex;
  justify-content: center;

}