.links{
display: flex;
height:  20vh;
justify-content: space-around;
align-items: center;
border-bottom: 1px gray solid;
background-color: rgb(243, 240, 240);
margin-bottom: 60px;
}

.links a {
    text-decoration: none;
    color: grey;
    font-weight: bolder;
    font-size: 30px;
    background-color:bisque;
    border: 1px grey solid;
    padding: 10px 10px ;
    border-radius: 10px;


}
