.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 80px;

   flex-direction: column;
}
.home div{
  color: grey;
}
.home img{
 max-height: 60vh;
}