

.internalPanels {
    display: flex;
    justify-content: space-evenly;
    height: 100vh; 
    gap :200px
  }
  
  .panel-container {
    margin: 20px; 
  }
  .AscenseurStop{
    margin-bottom: 10px;
  }
  .arrow-icon{
    
    width: 100%;
    text-align: center;
  }
  .internal-panel-info{
    display: flex;
    flex-direction: column;
    gap :10px
  }